<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>
      <p class="has-text-centered">
        <span *ngFor="let letter of randomText.split(''); let i = index" [class]="compare(letter, inputText[i])">{{
          letter }}</span>
      </p>
      <div class="field">
        <input type="text" class="input" (input)="onInputChange($event)" />
      </div>
      <div class="box has-text-centered" *ngIf="(inputText === randomText)">
        <p class="title">You win!</p>
      </div>
    </div>
  </div>
</div>